mainmenu "ipc_uart"

rsource "src/uart_ipc/Kconfig"

# artificaly enable HAL_CRC drivers from STM32CUBE
# read : https://github.com/zephyrproject-rtos/zephyr/issues/37543
config MY_STM32_HAL
  default y
  bool
  select USE_STM32_HAL_CRC

source "Kconfig.zephyr"
